

body {
    background: #1e001e;
    color:#af43a1;
}
@font-face {font-family:'futuroNormal';
    src:url('../../futuroNormal.otf');
    } 
    h1{
        font-family:'futuroNormal';
        letter-spacing: 7px;
    }
    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    
    #animate-area	{ 
        /* width: 560px; 
        height: 400px;  */
        background-image: url();
        background-position: 0px 0px;
        background-repeat: repeat-x;
        background-size: 80% auto;
        animation: animatedBackground 10s linear infinite;
        animation-fill-mode: forwards;
        animation: backgroundScroll 60s linear 1;
        animation-fill-mode: forwards;
    }
    
    /* Set up proportionate scaling */
 
    .navbar-inverse {
    
         border-color: #040009;
     } 

     button .collapsed .navbar-toggle .sr-only .icon-bar{
        border-color: orange;
        height: 30px;
     }
          